<a href="https://colab.research.google.com/github/Supansapkb/bsc_dpdm22/blob/main/%5Bdataprep1%5D_property_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [3]:
home = pd.read_excel('/content/drive/MyDrive/BPDV65/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน')
home

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

#ผู้ประเมินคนที่ 1

In [4]:
est1 = home[home['ID ผู้ประเมิน']==1]
est1

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
6,1,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3500000.0,"5,000-18,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
8,1,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"5,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,4500000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
156,1,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,5200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
157,1,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,3600000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
158,1,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,4000000.0,"3,000-35,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
159,1,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1200000.0,"3,000-30,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN

In [5]:
est1.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

In [6]:
Con1 = est1['ความมั่นใจในการเมินราคาทรัพย์']
Con1

0      มั่นใจ
2      มั่นใจ
4      มั่นใจ
6      มั่นใจ
8      มั่นใจ
        ...
155    มั่นใจ
156    มั่นใจ
157    มั่นใจ
158    มั่นใจ
159    มั่นใจ
Name: ความมั่นใจในการเมินราคาทรัพย์, Length: 100, dtype: object

In [7]:
est1['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

#ผู้ประเมินคนที่ 2

In [9]:
est2 = home[home['ID ผู้ประเมิน'] == 2]
est2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [10]:
est2.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,9.000000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.240733e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,2.714815e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.860000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,4.000000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,5.000000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

In [11]:
Con2 = est2['ความมั่นใจในการเมินราคาทรัพย์']
Con2

1      มั่นใจ
3      มั่นใจ
5      มั่นใจ
7      มั่นใจ
9      มั่นใจ
        ...
185    มั่นใจ
186    มั่นใจ
187    มั่นใจ
188    มั่นใจ
189    มั่นใจ
Name: ความมั่นใจในการเมินราคาทรัพย์, Length: 90, dtype: object

In [12]:
est2['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

#เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนและของราคาตั้งขาย
ใช้ MAPE เป็นเกณฑ์ในการเปรียบเทียบ

In [13]:
est2['ประเมิน1'] = est2['post id'].map(est1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
est2

<ipython-input-13-5722fc6584f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2['ประเมิน1'] = est2['post id'].map(est1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0

In [16]:
home = est2[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]
home

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0,2200000.0
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0,3500000.0
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0
...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0,4500000.0
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0,1200000.0

In [17]:
home.isnull().any()

post id                False
ราคาทรัพย์             False
ประเมินราคาซื้อ-ขาย     True
ประเมิน1               False
dtype: bool

In [19]:
home = home.dropna(subset=['ประเมินราคาซื้อ-ขาย'])
home

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0,2200000.0
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0,3500000.0
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0
...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0,4500000.0
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0,1200000.0

In [45]:
from sklearn.metrics import mean_absolute_percentage_error as MAPE

In [24]:
actual_h = home['ราคาทรัพย์']
pred1_h = home['ประเมิน1']
pred2_h = home['ประเมินราคาซื้อ-ขาย']

In [46]:
mh1 = MAPE(actual_h, pred1_h)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ {mh1}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 1 มีค่า MAPE เท่ากับ 0.12321512246130807

In [47]:
mh2 = MAPE(actual_h, pred2_h)
print(f'ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mh2}')

ราคาทรัพย์เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ 0.10417687099245776

In [48]:
mh3 = MAPE(pred1_h, pred2_h)
print(f'ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ {mh3}')

ผู้ประเมินคนที่ 1 เทียบกับผู้ประเมินคนที่ 2 มีค่า MAPE เท่ากับ 0.13626068116793127

#เขียน function ตรวจสอบค่าที่เติม 0 ผิด

In [28]:
max(10,2)

10

In [29]:
def check_v(in1,in2):
    return max(in1/in2,in2/in1)

In [30]:
check_v(100,12)

8.333333333333334

In [31]:
check_v(100,1200)

12.0

#สร้าง column ใหม่ลงในตาราง home โดยค่าใน column คือค่าจาก funtion check(ราคาตั้งขาย , ราคาประเมิน1 )

In [32]:
home['check1']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)  #สุตรลัด
home

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0,2200000.0,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0,3500000.0,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000
...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0,4500000.0,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0,1200000.0,1.145833

In [34]:
check1 = list()
for row in home.iterrows():
    check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))

In [36]:
home['check1_2'] = check1

In [37]:
home['check2']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)

In [38]:
home.sort_values(by=['check1_2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check1_2,check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000,1.800000,1.250000
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,1.538462,1.538462,3.333333
177,https://nayoo.co/khonkaen/posts/19450,2100000.0,2200000.0,3200000.0,1.523810,1.523810,1.047619
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.521346,1.521346,1.069054
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,3000000.0,4200000.0,1.468531,1.468531,1.048951
...,...,...,...,...,...,...,...
167,https://nayoo.co/khonkaen/posts/9141,3500000.0,3600000.0,3500000.0,1.000000,1.000000,1.028571
51,https://nayoo.co/khonkaen/posts/1149,4000000.0,4500000.0,4000000.0,1.000000,1.000000,1.125000
63,https://nayoo.co/khonkaen/posts/2033,1200000.0,1000000.0,1200000.0,1.000000,1.000000,1.200000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.000000,1.000000,1.025641
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1350000.0,1200000.0,1.000000,1.000000,1.125000

In [39]:
home.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check1_2,check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,1.538462,1.538462,3.333333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.180000,1.180000,1.525424
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,4000000.0,3500000.0,1.129032,1.129032,1.290323
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.800000,1.800000,1.250000
...,...,...,...,...,...,...,...
169,https://nayoo.co/khonkaen/posts/11264,6500000.0,6500000.0,5600000.0,1.160714,1.160714,1.000000
69,https://nayoo.co/khonkaen/posts/2262,3200000.0,3200000.0,3300000.0,1.031250,1.031250,1.000000
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1200000.0,1500000.0,1.250000,1.250000,1.000000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1800000.0,1700000.0,1.058824,1.058824,1.000000
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.080000,1.080000,1.000000

## HW2 แก้ไข ข้อมูลแล้วคำนวณ MAPE ใหม่อีกรอบมาเทียบกัน

# บ้าน

In [104]:
home = pd.read_excel('/content/drive/MyDrive/BPDV65/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน')
id1 = home[home['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = home[home['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 13.00%
นักประเมิน คนที่ 2 = 8.52%
ความผิดพลาดระหว่างนักประเมินทั้ง 12.60%
จำนวนทรัพย์ทั้งหมด 89 ทรัพย์

- cheack และเพิ่ม column cheack

In [105]:
home = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
home['check1']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
home['check2']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
home

<ipython-input-105-81e9c68a3b63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['check1']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-105-81e9c68a3b63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['check2']=home.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.000000,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2400000.0,2200000.0,1.083333,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.525424,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3700000.0,3500000.0,1.189189,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,5000000.0,4500000.0,1.100000,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.069054,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.250000,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.025641,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1400000.0,1200000.0,1.018182,1.145833

In [106]:
home.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,3.333333,1.538462
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.525424,1.180000
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,4000000.0,3500000.0,1.290323,1.129032
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.250000,1.800000
...,...,...,...,...,...,...
169,https://nayoo.co/khonkaen/posts/11264,6500000.0,6500000.0,5600000.0,1.000000,1.160714
69,https://nayoo.co/khonkaen/posts/2262,3200000.0,3200000.0,3300000.0,1.000000,1.031250
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1200000.0,1500000.0,1.000000,1.250000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1800000.0,1700000.0,1.000000,1.058824
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.000000,1.080000

In [136]:
home.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.250000,1.800000
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,3.333333,1.538462
177,https://nayoo.co/khonkaen/posts/19450,2100000.0,2200000.0,3200000.0,1.047619,1.523810
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,7400000.0,5200000.0,1.069054,1.521346
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,3000000.0,4200000.0,1.048951,1.468531
...,...,...,...,...,...,...
167,https://nayoo.co/khonkaen/posts/9141,3500000.0,3600000.0,3500000.0,1.028571,1.000000
51,https://nayoo.co/khonkaen/posts/1149,4000000.0,4500000.0,4000000.0,1.125000,1.000000
63,https://nayoo.co/khonkaen/posts/2033,1200000.0,1000000.0,1200000.0,1.200000,1.000000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,3900000.0,4000000.0,1.025641,1.000000
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1350000.0,1200000.0,1.125000,1.000000

- แก้ไขข้อมูลแล้ว

In [137]:
home1 = pd.read_excel('/content/drive/MyDrive/bsc_dpdm22/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน')
id1 = home1[home1['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = home1[home1['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 13.75%
นักประเมิน คนที่ 2 = 9.51%
ความผิดพลาดระหว่างนักประเมินทั้ง 13.54%
จำนวนทรัพย์ทั้งหมด 61 ทรัพย์

In [138]:
home1 = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
home1['check1']=home1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
home1['check2']=home1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

<ipython-input-138-d45f629d3964>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home1['check1']=home1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-138-d45f629d3964>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home1['check2']=home1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

In [141]:
home1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,3.333333,1.538462
5,https://nayoo.co/khonkaen/posts/495,5900000.0,9000000.0,5000000.0,1.525424,1.180000
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,4000000.0,3500000.0,1.290323,1.129032
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.250000,1.800000
...,...,...,...,...,...,...
47,https://nayoo.co/khonkaen/posts/1135,4774000.0,4800000.0,5200000.0,1.005446,1.089233
69,https://nayoo.co/khonkaen/posts/2262,3200000.0,3200000.0,3300000.0,1.000000,1.031250
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1200000.0,1500000.0,1.000000,1.250000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1800000.0,1700000.0,1.000000,1.058824
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2700000.0,2500000.0,1.000000,1.080000

In [139]:
home1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,2500000.0,3600000.0,1.250000,1.800000
75,https://nayoo.co/khonkaen/posts/1,390000.0,1300000.0,600000.0,3.333333,1.538462
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,3000000.0,4200000.0,1.048951,1.468531
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500
67,https://nayoo.co/khonkaen/posts/2244,2490000.0,2200000.0,1800000.0,1.131818,1.383333
...,...,...,...,...,...,...
63,https://nayoo.co/khonkaen/posts/2033,1200000.0,1000000.0,1200000.0,1.200000,1.000000
65,https://nayoo.co/khonkaen/posts/2143,5200000.0,5000000.0,5200000.0,1.040000,1.000000
43,https://nayoo.co/khonkaen/posts/1128,4200000.0,5000000.0,4200000.0,1.190476,1.000000
51,https://nayoo.co/khonkaen/posts/1149,4000000.0,4500000.0,4000000.0,1.125000,1.000000
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1350000.0,1200000.0,1.125000,1.000000

# ที่ดิน

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [131]:
land = pd.read_excel('/content/drive/MyDrive/BPDV65/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน')
id1 = land[land['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = land[land['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 83.48%
นักประเมิน คนที่ 2 = 48.38%
ความผิดพลาดระหว่างนักประเมินทั้ง 58.41%
จำนวนทรัพย์ทั้งหมด 100 ทรัพย์

- cheack และเพิ่ม column cheack

In [109]:
land = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
land['check1']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
land['check2']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
land

<ipython-input-109-403f8a74233f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land['check1']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-109-403f8a74233f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land['check2']=land.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/1033,2800000,2000000.0,1800000.0,1.400000,1.555556
4,https://nayoo.co/khonkaen/posts/1711,14900000,12000000.0,8000000.0,1.241667,1.862500
7,https://nayoo.co/khonkaen/posts/1726,90000000,70000000.0,18000000.0,1.285714,5.000000
10,https://nayoo.co/khonkaen/posts/1732,65000000,60000000.0,35000000.0,1.083333,1.857143
13,https://nayoo.co/khonkaen/posts/1866,3000000,2500000.0,2200000.0,1.200000,1.363636
...,...,...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,750000.0,500000.0,1.000000,1.500000
204,https://nayoo.co/khonkaen/posts/17093,2650000,2500000.0,2000000.0,1.060000,1.325000
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
208,https://nayoo.co/khonkaen/posts/17145,3000000,2800000.0,2500000.0,1.071429,1.200000

In [127]:
land.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
58,https://nayoo.co/khonkaen/posts/9203,160000000,11000000.0,14000000.0,14.545455,11.428571
47,https://nayoo.co/khonkaen/posts/7349,245000000,18000000.0,24000000.0,13.611111,10.208333
148,https://nayoo.co/khonkaen/posts/3561,7374550,80000000.0,6000000.0,10.848120,1.229092
188,https://nayoo.co/khonkaen/posts/12250,2300000,24000000.0,2500000.0,10.434783,1.086957
144,https://nayoo.co/khonkaen/posts/3341,1700000,9000000.0,1600000.0,5.294118,1.062500
...,...,...,...,...,...,...
104,https://nayoo.co/khonkaen/posts/1921,8080000,8000000.0,2800000.0,1.010000,2.885714
60,https://nayoo.co/khonkaen/posts/12607,7990000,8000000.0,10000000.0,1.001252,1.251564
158,https://nayoo.co/khonkaen/posts/6732,3500000,3500000.0,2800000.0,1.000000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,750000.0,500000.0,1.000000,1.500000
37,https://nayoo.co/khonkaen/posts/3305,14000000,14000000.0,12000000.0,1.000000,1.166667

In [126]:
land.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
194,https://nayoo.co/khonkaen/posts/13702,90000000,75000000.0,4500000.0,1.200000,20.000000
112,https://nayoo.co/khonkaen/posts/7955,2600000,2000000.0,32000000.0,1.300000,12.307692
58,https://nayoo.co/khonkaen/posts/9203,160000000,11000000.0,14000000.0,14.545455,11.428571
47,https://nayoo.co/khonkaen/posts/7349,245000000,18000000.0,24000000.0,13.611111,10.208333
7,https://nayoo.co/khonkaen/posts/1726,90000000,70000000.0,18000000.0,1.285714,5.000000
...,...,...,...,...,...,...
182,https://nayoo.co/khonkaen/posts/9598,3900000,4000000.0,4000000.0,1.025641,1.025641
78,https://nayoo.co/khonkaen/posts/3447,980000,800000.0,1000000.0,1.225000,1.020408
100,https://nayoo.co/khonkaen/posts/1663,1485000,1200000.0,1500000.0,1.237500,1.010101
122,https://nayoo.co/khonkaen/posts/12762,650000,700000.0,650000.0,1.076923,1.000000
130,https://nayoo.co/khonkaen/posts/1599,2500000,2200000.0,2500000.0,1.136364,1.000000

- แก้ไขข้อมูลแล้ว

In [132]:
land1 = pd.read_excel('/content/drive/MyDrive/bsc_dpdm22/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน')
id1 = land1[land1['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = land1[land1['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 53.94%
นักประเมิน คนที่ 2 = 25.89%
ความผิดพลาดระหว่างนักประเมินทั้ง 58.21%
จำนวนทรัพย์ทั้งหมด 40 ทรัพย์

In [133]:
land1 = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
land1['check1']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
land1['check2']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

<ipython-input-133-edd25c321158>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land1['check1']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-133-edd25c321158>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land1['check2']=land1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

In [134]:
land1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
143,https://nayoo.co/khonkaen/posts/3561,7374550.0,80000000.0,6000000.0,10.848120,1.229092
139,https://nayoo.co/khonkaen/posts/3341,1700000.0,9000000.0,1600000.0,5.294118,1.062500
35,https://nayoo.co/khonkaen/posts/3219,4500000.0,1600000.0,4000000.0,2.812500,1.125000
41,https://nayoo.co/khonkaen/posts/3601,2300000.0,1200000.0,1900000.0,1.916667,1.210526
1,https://nayoo.co/khonkaen/posts/1033,2800000.0,2000000.0,1800000.0,1.400000,1.555556
31,https://nayoo.co/khonkaen/posts/2194,2400000.0,1800000.0,2000000.0,1.333333,1.200000
7,https://nayoo.co/khonkaen/posts/1726,90000000.0,70000000.0,18000000.0,1.285714,5.000000
19,https://nayoo.co/khonkaen/posts/2007,16500000.0,13000000.0,3500000.0,1.269231,4.714286
137,https://nayoo.co/khonkaen/posts/3239,1900000.0,1500000.0,1200000.0,1.266667,1.583333
133,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
4,https://nayoo.co/khonkaen/posts/1711,14900000.0,12000000.0,8000000.0,1.241667,1.862500
96,https://nayoo.co/khonkaen/posts/1663,1485000.0,1200000.0,1500000.0,1.237500,1.010101
74,https://nayoo.co/khonkaen/posts/3447,980000.0,800000.0,1000000.0,1.225000,1.020408
149,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500
141,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
16,https://nayoo.co/khonkaen/posts/1962,6000000.0,5000000.0,4000000.0,1.200000,1.500000
13,https://nayoo.co/khonkaen/posts/1866,3000000.0,2500000.0,2200000.0,1.200000,1.363636
68,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
25,https://nayoo.co/khonkaen/posts/2045,12000000.0,10000000.0,7500000.0,1.200000,1.600000
131,https://nayoo.co/khonkaen/posts/2499,5900000.0,5000000.0,5200000.0,1.180000,1.134615
66,https://nayoo.co/khonkaen/posts/1639,3000000.0,3500000.0,12000000.0,1.166667,4.000000
98,https://nayoo.co/khonkaen/posts/1685,2900000.0,2500000.0,1600000.0,1.160000,1.812500
102,https://nayoo.co/khonkaen/posts/2151,1390000.0,1200000.0,1000000.0,1.158333,1.390000
106,https://nayoo.co/khonkaen/posts/3227,1390000.0,1200000.0,1000000.0,1.158333,1.390000
22,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
125,https://nayoo.co/khonkaen/posts/1599,2500000.0,2200000.0,2500000.0,1.136364,1.000000
147,https://nayoo.co/khonkaen/posts/3593,2500000.0,2200000.0,3200000.0,1.136364,1.280000
127,https://nayoo.co/khonkaen/posts/1638,4500000.0,4000000.0,2000000.0,1.125000,2.250000
72,https://nayoo.co/khonkaen/posts/1716,28000000.0,25000000.0,22000000.0,1.120000,1.272727
28,https://nayoo.co/khonkaen/posts/2068,6700000.0,6000000.0,5600000.0,1.116667,1.196429
145,https://nayoo.co/khonkaen/posts/3576,2000000.0,2200000.0,1600000.0,1.100000,1.250000
123,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
33,https://nayoo.co/khonkaen/posts/2206,6000000.0,5500000.0,5000000.0,1.090909,1.200000
104,https://nayoo.co/khonkaen/posts/2199,1300000.0,1200000.0,1000000.0,1.083333,1.300000
10,https://nayoo.co/khonkaen/posts/1732,65000000.0,60000000.0,35000000.0,1.083333,1.857143
129,https://nayoo.co/khonkaen/posts/1828,850000.0,800000.0,1000000.0,1.062500,1.176471
39,https://nayoo.co/khonkaen/posts/3515,3300000.0,3500000.0,3150000.0,1.060606,1.047619
135,https://nayoo.co/khonkaen/posts/3196,950000.0,900000.0,800000.0,1.055556,1.187500
100,https://nayoo.co/khonkaen/posts/1921,8080000.0,8000000.0,2800000.0,1.010000,2.885714
37,https://nayoo.co/khonkaen/posts/3305,14000000.0,14000000.0,12000000.0,1.000000,1.166667

In [135]:
land1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
7,https://nayoo.co/khonkaen/posts/1726,90000000.0,70000000.0,18000000.0,1.285714,5.000000
19,https://nayoo.co/khonkaen/posts/2007,16500000.0,13000000.0,3500000.0,1.269231,4.714286
66,https://nayoo.co/khonkaen/posts/1639,3000000.0,3500000.0,12000000.0,1.166667,4.000000
100,https://nayoo.co/khonkaen/posts/1921,8080000.0,8000000.0,2800000.0,1.010000,2.885714
127,https://nayoo.co/khonkaen/posts/1638,4500000.0,4000000.0,2000000.0,1.125000,2.250000
4,https://nayoo.co/khonkaen/posts/1711,14900000.0,12000000.0,8000000.0,1.241667,1.862500
10,https://nayoo.co/khonkaen/posts/1732,65000000.0,60000000.0,35000000.0,1.083333,1.857143
98,https://nayoo.co/khonkaen/posts/1685,2900000.0,2500000.0,1600000.0,1.160000,1.812500
25,https://nayoo.co/khonkaen/posts/2045,12000000.0,10000000.0,7500000.0,1.200000,1.600000
137,https://nayoo.co/khonkaen/posts/3239,1900000.0,1500000.0,1200000.0,1.266667,1.583333
1,https://nayoo.co/khonkaen/posts/1033,2800000.0,2000000.0,1800000.0,1.400000,1.555556
16,https://nayoo.co/khonkaen/posts/1962,6000000.0,5000000.0,4000000.0,1.200000,1.500000
102,https://nayoo.co/khonkaen/posts/2151,1390000.0,1200000.0,1000000.0,1.158333,1.390000
106,https://nayoo.co/khonkaen/posts/3227,1390000.0,1200000.0,1000000.0,1.158333,1.390000
13,https://nayoo.co/khonkaen/posts/1866,3000000.0,2500000.0,2200000.0,1.200000,1.363636
104,https://nayoo.co/khonkaen/posts/2199,1300000.0,1200000.0,1000000.0,1.083333,1.300000
147,https://nayoo.co/khonkaen/posts/3593,2500000.0,2200000.0,3200000.0,1.136364,1.280000
72,https://nayoo.co/khonkaen/posts/1716,28000000.0,25000000.0,22000000.0,1.120000,1.272727
133,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
145,https://nayoo.co/khonkaen/posts/3576,2000000.0,2200000.0,1600000.0,1.100000,1.250000
143,https://nayoo.co/khonkaen/posts/3561,7374550.0,80000000.0,6000000.0,10.848120,1.229092
41,https://nayoo.co/khonkaen/posts/3601,2300000.0,1200000.0,1900000.0,1.916667,1.210526
141,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
149,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500
68,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
33,https://nayoo.co/khonkaen/posts/2206,6000000.0,5500000.0,5000000.0,1.090909,1.200000
31,https://nayoo.co/khonkaen/posts/2194,2400000.0,1800000.0,2000000.0,1.333333,1.200000
28,https://nayoo.co/khonkaen/posts/2068,6700000.0,6000000.0,5600000.0,1.116667,1.196429
135,https://nayoo.co/khonkaen/posts/3196,950000.0,900000.0,800000.0,1.055556,1.187500
129,https://nayoo.co/khonkaen/posts/1828,850000.0,800000.0,1000000.0,1.062500,1.176471
37,https://nayoo.co/khonkaen/posts/3305,14000000.0,14000000.0,12000000.0,1.000000,1.166667
22,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
131,https://nayoo.co/khonkaen/posts/2499,5900000.0,5000000.0,5200000.0,1.180000,1.134615
35,https://nayoo.co/khonkaen/posts/3219,4500000.0,1600000.0,4000000.0,2.812500,1.125000
123,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
139,https://nayoo.co/khonkaen/posts/3341,1700000.0,9000000.0,1600000.0,5.294118,1.062500
39,https://nayoo.co/khonkaen/posts/3515,3300000.0,3500000.0,3150000.0,1.060606,1.047619
74,https://nayoo.co/khonkaen/posts/3447,980000.0,800000.0,1000000.0,1.225000,1.020408
96,https://nayoo.co/khonkaen/posts/1663,1485000.0,1200000.0,1500000.0,1.237500,1.010101
125,https://nayoo.co/khonkaen/posts/1599,2500000.0,2200000.0,2500000.0,1.136364,1.000000

# คอนโด

In [112]:
condo = pd.read_excel('/content/drive/MyDrive/BPDV65/คำตอบนักประเมิน.xlsx',sheet_name='คอนโด')
id1 = condo[condo['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nคอนโด\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%')
id1_d = id1.dropna(subset=['ประเมินราคาซื้อ-ขาย','ราคาทรัพย์'])
print(f'จำนวนทรัพย์ทั้งหมด {len(id1_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
คอนโด
นักประเมิน คนที่ 1 = 18.36%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์

- cheack และเพิ่ม column cheack

In [113]:
condo = id1_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย']]
condo['check1']=condo.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1);
condo

<ipython-input-113-30381eb0e2bf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  condo['check1']=condo.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1);

   post id  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย    check1
0     32.0   3500000.0            3500000.0  1.000000
1     36.0   1930000.0            2200000.0  1.139896
2    603.0   2438000.0            2800000.0  1.148482
3   1395.0   1600000.0            2300000.0  1.437500
4   1443.0   1860000.0            1800000.0  1.033333
5   1609.0   1490000.0            1500000.0  1.006711
6   1640.0   1280000.0            1600000.0  1.250000
7   1641.0   4290000.0            2700000.0  1.588889
8   1650.0   1700000.0            1550000.0  1.096774
9   1840.0   3790000.0            2800000.0  1.353571

In [114]:
condo.sort_values(by=['check1'],ascending=False)

   post id  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย    check1
7   1641.0   4290000.0            2700000.0  1.588889
3   1395.0   1600000.0            2300000.0  1.437500
9   1840.0   3790000.0            2800000.0  1.353571
6   1640.0   1280000.0            1600000.0  1.250000
2    603.0   2438000.0            2800000.0  1.148482
1     36.0   1930000.0            2200000.0  1.139896
8   1650.0   1700000.0            1550000.0  1.096774
4   1443.0   1860000.0            1800000.0  1.033333
5   1609.0   1490000.0            1500000.0  1.006711
0     32.0   3500000.0            3500000.0  1.000000

- แก้ไขข้อมูลแล้ว

In [142]:
condo1 = pd.read_excel('/content/drive/MyDrive/bsc_dpdm22/คำตอบนักประเมิน.xlsx',sheet_name='คอนโด')
id1 = condo1[condo1['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nคอนโด\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%')
id1_d = id1.dropna(subset=['ประเมินราคาซื้อ-ขาย','ราคาทรัพย์'])
print(f'จำนวนทรัพย์ทั้งหมด {len(id1_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
คอนโด
นักประเมิน คนที่ 1 = 18.36%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์

In [143]:
condo1 = id1_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย']]
condo1['check1']=condo1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1);

<ipython-input-143-11e1a870555e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  condo1['check1']=condo1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1);

In [145]:
condo1.sort_values(by=['check1'],ascending=False)

   post id  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย    check1
7     1641     4290000              2700000  1.588889
3     1395     1600000              2300000  1.437500
9     1840     3790000              2800000  1.353571
6     1640     1280000              1600000  1.250000
2      603     2438000              2800000  1.148482
1       36     1930000              2200000  1.139896
8     1650     1700000              1550000  1.096774
4     1443     1860000              1800000  1.033333
5     1609     1490000              1500000  1.006711
0       32     3500000              3500000  1.000000

# ทาวน์โฮม

In [115]:
town_h = pd.read_excel('/content/drive/MyDrive/BPDV65/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม')
id1 = town_h[town_h['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = town_h[town_h['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nทาวน์โฮม\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ทาวน์โฮม
นักประเมิน คนที่ 1 = 16.21%
นักประเมิน คนที่ 2 = 12.75%
ความผิดพลาดระหว่างนักประเมินทั้ง 10.92%
จำนวนทรัพย์ทั้งหมด 120 ทรัพย์

- cheack และเพิ่ม column cheack

In [117]:
town_h = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
town_h['check1']=town_h.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
town_h['check2']=town_h.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1);
town_h

<ipython-input-117-ac44bb40019a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  town_h['check1']=town_h.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-117-ac44bb40019a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  town_h['check2']=town_h.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1);

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/548,1045000.0,1500000.0,700000.0,1.435407,1.492857
3,https://nayoo.co/khonkaen/posts/549,935000.0,1500000.0,700000.0,1.604278,1.335714
5,https://nayoo.co/khonkaen/posts/579,3520000.0,4000000.0,3500000.0,1.136364,1.005714
7,https://nayoo.co/khonkaen/posts/580,3850000.0,3200000.0,3500000.0,1.203125,1.100000
9,https://nayoo.co/khonkaen/posts/582,990000.0,800000.0,1000000.0,1.237500,1.010101
...,...,...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1430000.0,1200000.0,1000000.0,1.191667,1.430000
236,https://nayoo.co/khonkaen/posts/18551,1980000.0,1700000.0,1500000.0,1.164706,1.320000
237,https://nayoo.co/khonkaen/posts/19434,2000000.0,1900000.0,1600000.0,1.052632,1.250000
238,https://nayoo.co/khonkaen/posts/19501,1790000.0,1700000.0,1600000.0,1.052941,1.118750
239,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0,1.069182,1.069182

In [118]:
town_h.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,400000.0,350000.0,5.475000,6.257143
234,https://nayoo.co/khonkaen/posts/18090,3000000.0,1500000.0,2800000.0,2.000000,1.071429
180,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
3,https://nayoo.co/khonkaen/posts/549,935000.0,1500000.0,700000.0,1.604278,1.335714
225,https://nayoo.co/khonkaen/posts/17742,2500000.0,1700000.0,2200000.0,1.470588,1.136364
...,...,...,...,...,...,...
188,https://nayoo.co/khonkaen/posts/8101,3200000.0,3200000.0,3300000.0,1.000000,1.031250
220,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
199,https://nayoo.co/khonkaen/posts/12957,1500000.0,1500000.0,1600000.0,1.000000,1.066667
151,https://nayoo.co/khonkaen/posts/1978,2500000.0,2500000.0,2700000.0,1.000000,1.080000
181,https://nayoo.co/khonkaen/posts/6104,2200000.0,2200000.0,2500000.0,1.000000,1.136364

In [119]:
town_h.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,400000.0,350000.0,5.475000,6.257143
180,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
132,https://nayoo.co/khonkaen/posts/619,1430000.0,1000000.0,950000.0,1.430000,1.505263
1,https://nayoo.co/khonkaen/posts/548,1045000.0,1500000.0,700000.0,1.435407,1.492857
174,https://nayoo.co/khonkaen/posts/3478,2190000.0,2200000.0,1500000.0,1.004566,1.460000
...,...,...,...,...,...,...
228,https://nayoo.co/khonkaen/posts/17923,1990000.0,2200000.0,2000000.0,1.105528,1.005025
167,https://nayoo.co/khonkaen/posts/2829,2490000.0,2300000.0,2500000.0,1.082609,1.004016
220,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
200,https://nayoo.co/khonkaen/posts/13411,3200000.0,3200000.0,3200000.0,1.000000,1.000000
203,https://nayoo.co/khonkaen/posts/17503,1500000.0,1300000.0,1500000.0,1.153846,1.000000

- แก้ไขข้อมูลแล้ว

In [146]:
town_h1 = pd.read_excel('/content/drive/MyDrive/bsc_dpdm22/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม')
id1 = town_h1[town_h1['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = town_h1[town_h1['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nทาวน์โฮม\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ทาวน์โฮม
นักประเมิน คนที่ 1 = 20.12%
นักประเมิน คนที่ 2 = 15.84%
ความผิดพลาดระหว่างนักประเมินทั้ง 11.66%
จำนวนทรัพย์ทั้งหมด 61 ทรัพย์

In [147]:
town_h1 = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
town_h1['check1']=town_h1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
town_h1['check2']=town_h1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1);

<ipython-input-147-30b50ffff129>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  town_h1['check1']=town_h1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-147-30b50ffff129>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  town_h1['check2']=town_h1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1);

In [149]:
town_h1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,400000,350000,5.475000,6.257143
3,https://nayoo.co/khonkaen/posts/549,935000.0,1500000,700000,1.604278,1.335714
139,https://nayoo.co/khonkaen/posts/705,1038000.0,1500000,1200000,1.445087,1.156069
1,https://nayoo.co/khonkaen/posts/548,1045000.0,1500000,700000,1.435407,1.492857
132,https://nayoo.co/khonkaen/posts/619,1430000.0,1000000,950000,1.430000,1.505263
...,...,...,...,...,...,...
172,https://nayoo.co/khonkaen/posts/3394,1200000.0,1200000,1300000,1.000000,1.083333
151,https://nayoo.co/khonkaen/posts/1978,2500000.0,2500000,2700000,1.000000,1.080000
175,https://nayoo.co/khonkaen/posts/3480,1600000.0,1600000,1800000,1.000000,1.125000
177,https://nayoo.co/khonkaen/posts/3599,1700000.0,1700000,1800000,1.000000,1.058824
178,https://nayoo.co/khonkaen/posts/3661,1900000.0,1900000,2000000,1.000000,1.052632

In [148]:
town_h1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000.0,400000,350000,5.475000,6.257143
132,https://nayoo.co/khonkaen/posts/619,1430000.0,1000000,950000,1.430000,1.505263
1,https://nayoo.co/khonkaen/posts/548,1045000.0,1500000,700000,1.435407,1.492857
174,https://nayoo.co/khonkaen/posts/3478,2190000.0,2200000,1500000,1.004566,1.460000
135,https://nayoo.co/khonkaen/posts/652,1100000.0,800000,800000,1.375000,1.375000
...,...,...,...,...,...,...
9,https://nayoo.co/khonkaen/posts/582,990000.0,800000,1000000,1.237500,1.010101
133,https://nayoo.co/khonkaen/posts/642,3630000.0,3500000,3600000,1.037143,1.008333
162,https://nayoo.co/khonkaen/posts/2242,1610000.0,1600000,1600000,1.006250,1.006250
5,https://nayoo.co/khonkaen/posts/579,3520000.0,4000000,3500000,1.136364,1.005714
167,https://nayoo.co/khonkaen/posts/2829,2490000.0,2300000,2500000,1.082609,1.004016

# อาคารพาณิชย์

In [120]:
com_m = pd.read_excel('/content/drive/MyDrive/BPDV65/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์')
id1 = com_m[com_m['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = com_m[com_m['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nอาคารพาณิชย์\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
อาคารพาณิชย์
นักประเมิน คนที่ 1 = 25.45%
นักประเมิน คนที่ 2 = 12.43%
ความผิดพลาดระหว่างนักประเมินทั้ง 19.28%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์

- cheack และเพิ่ม column cheack

In [121]:
com_m = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
com_m['check1']=com_m.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
com_m['check2']=com_m.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)
com_m

<ipython-input-121-e81966a665df>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_m['check1']=com_m.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-121-e81966a665df>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_m['check2']=com_m.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
1,https://nayoo.co/khonkaen/posts/6,7000000.0,8000000.0,6000000.0,1.142857,1.166667
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,20000000.0,13500000.0,1.125000,1.666667
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000.0,3000000.0,2200000.0,1.300000,1.772727
11,https://nayoo.co/khonkaen/posts/30,4800000.0,4000000.0,3600000.0,1.200000,1.333333
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2100000.0,2500000.0,1.142857,1.041667
15,https://nayoo.co/khonkaen/posts/497,5000000.0,5000000.0,3800000.0,1.000000,1.315789
17,https://nayoo.co/khonkaen/posts/498,7000000.0,8000000.0,7000000.0,1.142857,1.000000
19,https://nayoo.co/khonkaen/posts/499,9000000.0,10000000.0,8000000.0,1.111111,1.125000

In [122]:
com_m.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,3000000.0,2200000.0,1.300000,1.772727
11,https://nayoo.co/khonkaen/posts/30,4800000.0,4000000.0,3600000.0,1.200000,1.333333
1,https://nayoo.co/khonkaen/posts/6,7000000.0,8000000.0,6000000.0,1.142857,1.166667
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2100000.0,2500000.0,1.142857,1.041667
17,https://nayoo.co/khonkaen/posts/498,7000000.0,8000000.0,7000000.0,1.142857,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000.0,20000000.0,13500000.0,1.125000,1.666667
19,https://nayoo.co/khonkaen/posts/499,9000000.0,10000000.0,8000000.0,1.111111,1.125000
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
15,https://nayoo.co/khonkaen/posts/497,5000000.0,5000000.0,3800000.0,1.000000,1.315789

In [123]:
com_m.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
9,https://nayoo.co/khonkaen/posts/24,3900000.0,3000000.0,2200000.0,1.300000,1.772727
5,https://nayoo.co/khonkaen/posts/21,22500000.0,20000000.0,13500000.0,1.125000,1.666667
11,https://nayoo.co/khonkaen/posts/30,4800000.0,4000000.0,3600000.0,1.200000,1.333333
15,https://nayoo.co/khonkaen/posts/497,5000000.0,5000000.0,3800000.0,1.000000,1.315789
1,https://nayoo.co/khonkaen/posts/6,7000000.0,8000000.0,6000000.0,1.142857,1.166667
7,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000.0,10000000.0,8000000.0,1.111111,1.125000
13,https://nayoo.co/khonkaen/posts/35,2400000.0,2100000.0,2500000.0,1.142857,1.041667
3,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000.0,8000000.0,7000000.0,1.142857,1.000000

- แก้ไขข้อมูลแล้ว

In [152]:
com_m1 = pd.read_excel('/content/drive/MyDrive/bsc_dpdm22/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์')
id1 = com_m1[com_m1['ID ผู้ประเมิน']==1]
id1 = id1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id2 = com_m1[com_m1['ID ผู้ประเมิน']==2]
id2 = id2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
id1MAPE = MAPE(id1['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id1['ราคาทรัพย์']))
id2MAPE = MAPE(id2['ประเมินราคาซื้อ-ขาย'],pd.to_numeric(id2['ราคาทรัพย์']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nอาคารพาณิชย์\nนักประเมิน คนที่ 1 = {id1MAPE*100:.2f}%\nนักประเมิน คนที่ 2 = {id2MAPE*100:.2f}%')
id2['ประเมิน2'] = id2['post id'].map(id1.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
id2_d = id2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน2','ราคาทรัพย์'])
one2two = MAPE(id2_d['ประเมินราคาซื้อ-ขาย'],id2_d['ประเมิน2'])
two2one = MAPE(id2_d['ประเมิน2'],id2_d['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(id2_d)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
อาคารพาณิชย์
นักประเมิน คนที่ 1 = 25.45%
นักประเมิน คนที่ 2 = 12.43%
ความผิดพลาดระหว่างนักประเมินทั้ง 19.28%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์

In [153]:
com_m1 = id2_d[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน2']]
com_m1['check1']=com_m1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
com_m1['check2']=com_m1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

<ipython-input-153-bcd0da74a126>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_m1['check1']=com_m1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินราคาซื้อ-ขาย']),axis=1)
<ipython-input-153-bcd0da74a126>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_m1['check2']=com_m1.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน2']),axis=1)

In [155]:
com_m1.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
9,https://nayoo.co/khonkaen/posts/24,3900000,3000000,2200000,1.300000,1.772727
11,https://nayoo.co/khonkaen/posts/30,4800000,4000000,3600000,1.200000,1.333333
1,https://nayoo.co/khonkaen/posts/6,7000000,8000000,6000000,1.142857,1.166667
7,https://nayoo.co/khonkaen/posts/22,3500000,4000000,4000000,1.142857,1.142857
13,https://nayoo.co/khonkaen/posts/35,2400000,2100000,2500000,1.142857,1.041667
17,https://nayoo.co/khonkaen/posts/498,7000000,8000000,7000000,1.142857,1.000000
5,https://nayoo.co/khonkaen/posts/21,22500000,20000000,13500000,1.125000,1.666667
19,https://nayoo.co/khonkaen/posts/499,9000000,10000000,8000000,1.111111,1.125000
3,https://nayoo.co/khonkaen/posts/17,12000000,12000000,12000000,1.000000,1.000000
15,https://nayoo.co/khonkaen/posts/497,5000000,5000000,3800000,1.000000,1.315789

In [156]:
com_m1.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน2,check1,check2
9,https://nayoo.co/khonkaen/posts/24,3900000,3000000,2200000,1.300000,1.772727
5,https://nayoo.co/khonkaen/posts/21,22500000,20000000,13500000,1.125000,1.666667
11,https://nayoo.co/khonkaen/posts/30,4800000,4000000,3600000,1.200000,1.333333
15,https://nayoo.co/khonkaen/posts/497,5000000,5000000,3800000,1.000000,1.315789
1,https://nayoo.co/khonkaen/posts/6,7000000,8000000,6000000,1.142857,1.166667
7,https://nayoo.co/khonkaen/posts/22,3500000,4000000,4000000,1.142857,1.142857
19,https://nayoo.co/khonkaen/posts/499,9000000,10000000,8000000,1.111111,1.125000
13,https://nayoo.co/khonkaen/posts/35,2400000,2100000,2500000,1.142857,1.041667
3,https://nayoo.co/khonkaen/posts/17,12000000,12000000,12000000,1.000000,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000,8000000,7000000,1.142857,1.000000